[Unit]
Description=MapleBBS Chat Daemon (XCHATD)
After=network.target maplebbs-init.service
Requires=maplebbs-init.service
PartOf=maplebbs.target

[Service]
Type=simple
Environment=MAPLE_FOREGROUND=1
User=bbs
Group=bbs
WorkingDirectory=/home/bbs
ExecStart=/home/bbs/bin/xchatd
Restart=always
RestartSec=5

[Install]
WantedBy=maplebbs.target
