[Unit]
Description=MapleBBS Daemon (BBSD)
After=network.target maplebbs-init.service maplebbs-camera.service maplebbs-account.service
Requires=maplebbs-init.service maplebbs-camera.service maplebbs-account.service
PartOf=maplebbs.target

[Service]
Type=simple
Environment=MAPLE_FOREGROUND=1
User=bbs
Group=bbs
WorkingDirectory=%h
ExecStart=%h/bin/bbsd
Restart=always
RestartSec=5
LimitNOFILE=65535
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
