[Unit]
Description=MapleBBS Dynamic Board Camera (CAMERA)
After=network.target maplebbs-init.service
Requires=maplebbs-init.service
PartOf=maplebbs.target

[Service]
Type=oneshot
User=bbs
Group=bbs
WorkingDirectory=/home/bbs
ExecStart=/home/bbs/bin/camera
RemainAfterExit=yes

[Install]
WantedBy=maplebbs.target
